<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>WhatsPazzY</title>
</head>

<body>
    <div id="root">
        <div  class="background p-5">
            <div class="container-fluid h-100">
                <div class="row gx-0  h-100 rounded-2 border">
                    <!-- NOTE Sezione Sinistra -->
                    <div class="col-4 border-end bg-light h-100 d-flex flex-column">
                        <!-- NOTE Account -->
                        <div class="bg-white p-3 d-flex justify-content-between align-items-center">
                            <div>
                                <img class="rounded-circle profile-picture" :src=`./assets/img/avatar${user.img}.jpg`
                                    alt="" />
                                <span class="ms-3 fs-5">{{user.nome}}</span>
                            </div>
                            <div class="p-1">
                                <i class="text-black-50 mx-2 fs-3 fa-solid fa-circle-notch"></i>
                                <i class="text-black-50 mx-2 fs-3 fa-solid fa-message"></i>
                                <i class="text-black-50 mx-2 fs-3 fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- NOTE Info -->
                        <div class="bg-info d-flex p-3">
                            <div class="bg-light rounded-circle p-3">
                                <i class="text-info fs-3 fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="d-flex justify-content-center flex-column ms-3">
                                <span class="fw-bold">
                                    Ricevi notifiche di nuovi messaggi
                                </span>
                                <span class="text-black-50 text-decoration-underline">
                                    Attiva notifiche desktop
                                </span>
                            </div>
                        </div>
                        <!-- NOTE Ricerca -->
                        <div class="input-group p-1 bg-light">
                            <span class="input-group-text"><i
                                    class="text-black-50 mx-2  fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input @keyup="searchMode" v-model="search" type="text" class="form-control"
                                placeholder="Cerca o inizia una nuova chat..">
                        </div>
                        <!-- NOTE Lista Chat -->
                        <div class="bg-light flex-shrink-1 h-100 overflow-auto">
                            <div v-if="(contacts[currentChat].messages.length) < 1">
                                GIGI
                            </div>
                            <ul class="list-unstyled v-else ">
                                <li v-if="contact.visible" class="d-flex p-3 border-bottom"
                                    :class="(i == currentChat)?'active':''" v-for="(contact, i) in contacts"
                                    role="button" @click="goActive(i)">
                                    <div>
                                        <img class="profile-picture rounded-circle"
                                            :src=`./assets/img/avatar${contact.avatar}.jpg` alt="">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center ms-4">
                                        <span class="fw-bold f-3">{{contact.name}}</span>
                                        <span
                                            class="text-black-50">{{contact.messages[(contact.messages.length-1)].message}}</span>
                                    </div>
                                    <div class="ms-auto">
                                        <span
                                            class="text-black-50">{{contact.messages[(contact.messages.length-1)].date}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- NOTE Sezione destra -->
                    <div class="col-8 h-100 d-flex flex-column border-end border-1">
                        <!-- NOTE Account Chat -->
                        <div class="bg-white p-3 d-flex justify-content-between align-items-center">
                            <div>
                                <img class="rounded-circle profile-picture"
                                    :src=`./assets/img/avatar${contacts[currentChat].avatar}.jpg` alt="" />
                                <span class="ms-3 fs-5">{{contacts[currentChat].name}}</span>
                            </div>
                            <div class="p-1">
                                <i class="text-black-50 mx-2 fs-3 fa-solid fa-magnifying-glass"></i>
                                <i class="text-black-50 mx-2 fs-3 fa-solid fa-paperclip"></i>
                                <i class="text-black-50 mx-2 fs-3 fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- TODO Sezione Chat -->
                        <div class="chat-background h-100 overflow-auto">
                            <ul class="list-unstyled d-flex flex-column">
                                <li class="d-flex px-3 py-2 rounded-3 position-relative"
                                    v-for="(message, index) in contacts[currentChat].messages"
                                    :class="(message.status == 'sent')?'sent':'received'">
                                    <div>
                                        <span class="me-3">{{message.message}}</span><br>
                                        <p class=" text-end text-black-50 fs-7">{{message.date}}</p>
                                    </div>
                                    <i @click="dropdownToggle(index)" class="fa-solid fa-angle-down arrow"></i>
                                    <div class="bg-light rounded-3 border dropdown" v-if="(menuState) && (menuIndex == index)">
                                        <ul class="list-unstyled">
                                            <li class="p-2 border-bottom">Info messaggio</li>
                                            <li @click="remove(index)" class="p-2">Cancella messaggio</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- NOTE Invio messaggio -->
                        <div class=" d-flex justify-content-between input-group bg-light p-2 mt-auto mb-0">
                            <div class="px-3 py-2">
                                <i class="fa-solid fa-face-laugh-beam text-black-50 fs-3"></i>
                            </div>
                            <input @keyup.enter="newMessage" v-model="sendInput" class="form-control rounded-3"
                                placeholder="Scrivi un messaggio.." type="text">
                            <div class="px-3 py-2">
                                <i class="fa-solid fa-microphone text-black-50 fs-3"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>