:root {
	--bs-info-rgb: 153, 218, 253 !important;
}

#root {
	height: 100vh;
}

.background {
	height: 100%;
	background-image: linear-gradient(
		to bottom,
		#359589 0px,
		#359589 15vh,
		#d8dbd9 15vh,
		#d8dbd9 100vh
	);
}

.profile-picture {
	width: 80px;
	height: 80px;
}

.chat-background {
	background-image: url("../img/mine.jpg");
}

.sent {
	background-color: #d8f8bf;
    align-self: flex-end;
    margin: 1rem 1rem 1rem 0 ;
}

.received {
    background-color: #feffff;
    align-self: flex-start;
    margin: 1rem 1rem 1rem ;
}

.rounded-3 {
	border-radius: 0.7rem !important;
}

.active{
    background-color: #ccc;
}

p{
	margin: 0!important;
}

.fs-7{
	font-size: 0.8rem;
}

.arrow{
	opacity: 0;
	transition: all 0.25s ;
}

li:hover .arrow{
	opacity: 1;
}

.dropdown{
	z-index: 1;
	min-width: 150px;
	position: absolute;
	top: 40%;
	right: 0px;
}
